/* reset & global */

body {
  margin: 0;
  padding: 0;
  font-family: Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;
}

/* style */

#app {
  width: 100vw;
  height: 100vh;
}

.p-container {
  display: flex;
  width: 100vw;
  height: 100vh;
}

.p-rooms {
  flex: 1;
  color: white;
}

.p-rooms--red {
  background: rgb(224,69,123);
  background: -moz-linear-gradient(top, rgb(224,69,123) 0%, rgb(211,67,180) 100%);
  background: -webkit-linear-gradient(top, rgb(224,69,123) 0%,rgb(211,67,180) 100%);
  background: linear-gradient(to bottom, rgb(224,69,123) 0%,rgb(211,67,180) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0457b', endColorstr='#d343b4',GradientType=0 );
}

.p-rooms--green {
  background: rgb(81,219,98);
  background: -moz-linear-gradient(top, rgb(81,219,98) 0%, rgb(67,216,151) 100%);
  background: -webkit-linear-gradient(top, rgb(81,219,98) 0%,rgb(67,216,151) 100%);
  background: linear-gradient(to bottom, rgb(81,219,98) 0%,rgb(67,216,151) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#51db62', endColorstr='#43d897',GradientType=0 );
}

/* http://www.colorzilla.com/gradient-editor/#3d95e2+0,6951d6+100 */
.p-rooms--blue {
  background: rgb(61,149,226);
  background: -moz-linear-gradient(top, rgb(61,149,226) 0%, rgb(105,81,214) 100%);
  background: -webkit-linear-gradient(top, rgb(61,149,226) 0%,rgb(105,81,214) 100%);
  background: linear-gradient(to bottom, rgb(61,149,226) 0%,rgb(105,81,214) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3d95e2', endColorstr='#6951d6',GradientType=0 );
}

/* http://www.colorzilla.com/gradient-editor/#e2e241+0,d1b24f+100 */
.p-rooms--yellow {
  background: rgb(226,226,65);
  background: -moz-linear-gradient(top, rgb(226,226,65) 0%, rgb(209,178,79) 100%);
  background: -webkit-linear-gradient(top, rgb(226,226,65) 0%,rgb(209,178,79) 100%);
  background: linear-gradient(to bottom, rgb(226,226,65) 0%,rgb(209,178,79) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e241', endColorstr='#d1b24f',GradientType=0 );
}

.p-chat {
  flex: 4;
  display: flex;
  flex-direction: column;
}

.p-avatars {
  flex: 1;
}

.c-header {
  height: 36px;
  font-size: 22px;
  text-align: center;
  padding-top: 8px;
  background-color: rgba(255, 255, 255, 0.15);
  letter-spacing: 5px;
}

.p-side-content {
  padding: 8px;
  justify-content: space-around;
}

.c-iedit-user {
  font-size: 12px;
  padding-bottom: 8px;
}

.c-iedit-user-content {
}

.c-iedit-user-action {
  color: rgb(238, 238, 238);
  font-size: 12px;
  font-style: italic;
  cursor: pointer;
  padding: 0 6px;
}

.c-iedit-user-action:hover {
  color: rgb(214, 214, 214);
}

.c-button {
  font-size: 16px;
  color: rgb(67, 148, 67);
  background-color: rgba(255, 255, 255, 0.75);
  border: none;
  cursor: pointer;
  width: 100%;
  padding: 4px 0;
  border-radius: 5px;
  transition: background-color 0.15s ease;
}

.c-button:hover {
  background-color: rgba(255, 255, 255, 0.45);
}

.c-list {
}

.c-list-header {
  font-size: 13px;
  font-weight: 500;
  padding-top: 8px;
  text-transform: uppercase;
}

.c-list-body {
  padding: 8px 0 0 8px;
}

.c-list-body > .c-list-item {
  cursor: pointer;
  padding: 4px;
  font-size: 14px;
  transition: background-color 0.15s ease;
}

.c-list-body > .c-list-item:hover {
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.25);
}

.c-chat {
  flex: 1;
}

.c-chat-header {
  height: 34px;
  padding: 10px 0 0 12px;
  border-bottom: 1px solid rgb(236, 236, 236);
  display: flex;
  justify-content: space-between;
}

.c-iedit-room-title {
}

.c-iedit-room-title-content {
  color: rgb(67, 148, 67);
  font-size: 18px;
}

.c-iedit-room-title-action {
  color: rgb(214, 214, 214);
  font-size: 12px;
  font-style: italic;
  cursor: pointer;
  padding: 0 6px;
}

.c-iedit-room-title-action:hover {
  color: rgb(192, 192, 192);
}

.c-colors {
  display: flex;
}

.c-colors-item {
  flex: 1;
  width: 24px;
  height: 24px;
  border-radius: 12px;
  margin: 0 4px;
  cursor: pointer;
}

.c-colors-item--red {
  background-color: rgb(224,69,123);
}

.c-colors-item--green {
  background-color: rgb(81,219,98);
}

.c-colors-item--blue {
  background-color: rgb(61,149,226);
}

.c-colors-item--yellow {
  background-color: rgb(226,226,65);
}

.c-message {
  padding: 8px 10px 2px;
}

.c-text-area-wrapper {
  flex-shrink: 0;
  margin: 0 12px;
  padding: 10px 0;
  border-top: 1px solid rgb(236, 236, 236);
}

.c-text-area {
  border-radius: 5px;
  background-color: rgb(236, 236, 236);
}

.c-text-area textarea {
  resize: none;
  width: 100%;
  line-height: 24px;
  font-size: 14px;
  border: none;
  padding: 8px 12px 4px;
  background-color: transparent;
  outline: 0;
  transition: background-color 0.15s ease;
}

.c-text-area textarea:focus {
  background-color: rgba(255, 255, 255, 0.5);
}
